/* 
Color Palette:
Vintage Grape: 493548
Dusty Grape: 4B4E6D
Air Force Blue: 6A8D92
Muted Teal: 80B192
Light Green: A1E887
*/

/*
Font Families (Google Fonts):
Manrope
Merriweather
*/

body {
    margin: 0;
    user-select: none;
    background-image: url("../media/BackgroundPicture.jpg");
    display: grid;
    grid-template-columns: 400px 1fr;
}

img {
    pointer-events: none;
    object-fit: cover;
}