#blackScreen {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#introductionImage {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    border: 7px solid #A1E887;
    animation: fade-in 3s ease-in-out;
}

#introductionGreeting {
    font-family: Merriweather;
    font-size: 18px;
    color: #A1E887;
    user-select: none;
    margin: 50px 100px 50px 100px;
    animation: left-to-right 1.5s ease-in-out;
    text-align: justify;
}

#introductionButton {
    font-family: Manrope;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: 7px double#A1E887;
    color: #A1E887;
    border-radius: 10px;
    padding: 15px;
    outline: none;
    user-select: none;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    animation: right-to-left 1.5s ease-in-out;
}

#introductionButton:hover {
    color: black;
    background-color: #A1E887;
}

#introductionButton:active {
    color: black;
    background-color: #A1E887;
}

.trigger-fade-out {
    animation: fade-out 1.5s ease-in-out;
}